<div class="grid-container">
    <div class="callout">
        <div class="grid-container">
            <form [formGroup]="myForm" (ngSubmit)="createIceCream()">
                <input type="text" formControlName="sabor" placeholder="Sabor">
                <fieldset>
                    <legend>Tipo De Helado</legend>
                    <input type="radio" formControlName="tipo" value="0" id="agua"><label for="agua">Agua</label>
                    <input type="radio" formControlName="tipo" value="1" id="crema"><label for="crema">Crema</label>
                  </fieldset>
                <input type="number" formControlName="kilos" placeholder="Kilos">                
                <button type="submit" class="button primary" [disabled]="!myForm.valid">Nuevo Helado</button>
            </form>
        </div>
    </div>
</div>